@import "tailwindcss";

/* @custom-variant dark (&:where(.dark, .dark *)); */

@theme {
    --color-chestnut: #973F29;
    /*pwede rin mga font and bg etc*/
}

@layer base {
    h1 {
        @apply font-mono
    }
    p {
        @apply text-center
    }
}

@layer components {
    .dark {
        @apply bg-white dark:bg-black text-black dark:text-white
    }
    .responsive-color {
        @apply max-sm:bg-amber-500
        max-md:bg-cyan-500 
        max-lg:bg-gray-500 
        max-xl:bg-yellow-500 
        max-2xl:bg-red-500
    }
}

@utility flex-center {
    @apply flex justify-center items-center
}